<html>
    <head>
        <link rel="stylesheet" href="/css/style.css"> 
    </head>
    <body>
        <form action="/insertProduct" method="post">
            Product ID: <input type="text" id="pid" name="pid">
            Product Name: <input type="text" id="pname" name="pname">
            Price: <input type="text" id="price" name="price">
            Quantity: <input type="text" id="qty" name="qty">
            <button type="submit" id="addbtn" name="addbtn" value="addbtn">Add Product</button>
            </input>
        </form>
    </body>
</html>