<html>
    <body>
        <form action="/updateProduct" method="post">
            Product ID: <input type="text" id="pid" name="pid" value="<%=prodata.pid%>" readonly>
            Product Name: <input type="text" id="pname" name="pname" value="<%=prodata.pname%>">
            Price: <input type="text" id="price" name="price" value="<%=prodata.price%>">
            Quantity: <input type="text" id="qty" name="qty" value="<%=prodata.qty%>">
            <button type="submit" id="addbtn" name="addbtn" value="addbtn">Update Product</button>
            </input>
        </form>
    </body>
</html>